<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title id="title">Setup</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container mt-5">
			<h2 class="mb-4" id="setup"></h2>
			<form id="dynamic-form">
				<div id="inputs-container">
					<!-- Inputs will be loaded here -->
				</div>
				<button type="submit" class="btn btn-primary mt-3">Submit</button>
			</form>
		</div>

		<!-- Bootstrap JS and Popper.js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script>
			// Fetch inputs from the Flask route and display them
			fetch("/setup/get-inputs")
				.then((response) => response.json())
				.then((data) => {
					const container = document.getElementById("inputs-container");

					document.getElementById("title").innerHTML = `${data.plugin} Setup`;
					document.getElementById("title").innerHTML = `${data.plugin} Setup`;

					data.inputs.forEach((item) => {
						console.log(item);
						const inputDiv = document.createElement("div");
						inputDiv.className = "mb-3";

						const label = document.createElement("label");
						label.textContent = item.title;

						const input = document.createElement("input");
						input.type = item.type;
						input.className = "form-control";
						input.name = item.value;
						input.placeholder = item.description;

						inputDiv.appendChild(label);
						inputDiv.appendChild(input);
						container.appendChild(inputDiv);
					});
				});

			document
				.getElementById("dynamic-form")
				.addEventListener("submit", function (event) {
					event.preventDefault();

					const formData = new FormData(event.target);
					const data = {};
					formData.forEach((value, key) => {
						data[key] = value;
					});

					console.log(data);

					// Send data to Flask backend
					fetch("/setup/submit-inputs", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(data),
					})
						.then((response) => response.json())
						.then((result) => {
							alert("Data submitted successfully!");
							console.log(result); // You can handle the response here if needed
						});
				});
		</script>
	</body>
</html>
